<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Tags</th>
        <th scope="col">Status</th>
        <th scope="col">Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">J12HB9</th>
        <td>Album A</td>
        <td>
            <span class="badge badge-info">BTS</span>
            <span class="badge badge-info">Love yourself</span>
            <span class="badge badge-info">Album</span>
            <span class="badge badge-info">2021</span>
        </td>
        <td><span class="badge badge-success">Active</span></td>
        <td><b><span class="text-warning">10</b></span>/20</td>
        <th><i class="fas fa-ellipsis-v"></i></th>
      </tr>
      <tr>
        <th scope="row">LP384T</th>
        <td>Album B</td>
        <td>
            <span class="badge badge-info">Seventeen</span>
            <span class="badge badge-info">Semicolon</span>
            <span class="badge badge-info">Album</span>
            <span class="badge badge-info">2020</span>
        </td>
        <td><span class="badge badge-success">Active</span></td>
        <td><b><span class="text-success">3</span></b>/4</td>
        <th><i class="fas fa-ellipsis-v"></i></th>
      </tr>
    </tbody>
</table>