<!-- sidenav -->
<div class="sidenav">
    <div class="sidenav-logo">
        KKSHOPPE
        <span>
            <!-- <i class="fa fa-shopping-bag"></i> -->
        </span>
    </div>
    <div class="sidenav-items">
        <ul class="sidenav-items-list">
            <li>
                <a href="/dashboard" class="{% if 'dashboard' in request.path %}is-active{% endif %}">
                    <span>
                        <i class="fa fa-home"></i>
                    </span>
                    <span class="pl-2">
                        Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a href="/inventory" class="{% if 'inventory' in request.path %}is-active{% endif %}">
                    <span>
                        <i class="fa fa-box"></i>
                    </span>
                    <span class="pl-2">
                        Inventory
                    </span>
                </a>
            </li>
            <li>
                <a href="/orders" class="{% if 'orders' in request.path %}is-active{% endif %}">
                    <span>
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                    <span class="pl-2">
                        Orders
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- topnav -->
<div class="topnav">
    <div class="pt-2 mr-5 pr-3 float-right">
        <p class="navbar-text pr-2">Hello {{firstname}}</p>
        <span>
            <a href="/logout" class="navbar-text">  
                <!-- <i class="fas fa-sign-out-alt navb"></i> -->
                Logout
            </a>
        </span>
        
        
    </div>
    
</div>